<mat-toolbar color="primary">To-Do Lists</mat-toolbar>
<div fxLayout="column" fxLayoutGap="16px" style="padding: 16px">
  <mat-form-field appearance="fill" fxFlex>
    <mat-label>New list title</mat-label>
    <input matInput [(ngModel)]="newListTitle" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addList()">Add List</button>

  <div fxLayout="column" fxLayoutGap="16px">
    <cdk-accordion class="accordion">
      <app-todo-panel
        *ngFor="let item of todos; let i = index"
        [item]="item"
        [index]="i"
        [expandedIndex]="expandedIndex"
        [taskInputs]="taskInputs"
        (toggleList)="toggleList($event.listId, $event.index)"
        (toggleTask)="toggleTask($event.listId, $event.task)"
        (addTask)="addTask($event)"
      >
      </app-todo-panel>
    </cdk-accordion>
  </div>
</div>
